@tailwind base;
@tailwind components;
@tailwind utilities;




:root {
    /* colors  */
    --background: #fff;
    --svgColor: #000;
    --hover-color: rgba(0, 0, 0, 0.1);
    --txtPrimary: #000;
    --txtSecondary: #606060;
    --txtblue: #3ea6ff;
    --primary-border: #ccc;
    --secondary-border: #065fd4;
    --detail-gradient: linear-gradient(to bottom, rgba(166, 166, 166, 0.800) 0%, rgba(166, 166, 166, 0.298) 33%, rgb(255,255,255,1) 100%);

    /* measurements */
    --header-height: 3.5rem;
    --navwidth: 240px;


    /* gird  */
    --grid-padding: 1.5rem;
    --ytd-rich-grid-item-max-width: 500px;
    --ytd-rich-grid-items-per-row: 4;
    --ytd-rich-grid-item-margin: 16px;
    --ytd-rich-grid-content-max-width: calc(var(--ytd-rich-grid-items-per-row) * (var(--ytd-rich-grid-item-max-width) + var(--ytd-rich-grid-item-margin)) - var(--ytd-rich-grid-item-margin));

}

.dark {
    --background: #0f0f0f;
    --svgColor: #fff;
    --hover-color: #272727;
    --txtPrimary: #fff;
    --txtSecondary: #aaa;
    --primary-border: #383838;
    --detail-gradient: linear-gradient(to bottom, rgba(89, 89, 89, 0.800) 0%, rgba(89, 89, 89, 0.298) 33%, rgba(15, 15, 15, 1.000) 100%);

}

@font-face {
    font-family: "SyoogBold";
    src: url("../../fonts/Syoog/SyoogBold.otf") format("opentype");
    font-weight: 400;
}

/* Geist fonts  */
/* Light */
@font-face {
    font-family: 'Geist';
    src: url('../../fonts/Geist/Geist-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Geist';
    src: url('../../fonts/Geist/Geist-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}



@media screen and (max-width: 1280px) {
    :root {
        --header-height: 3rem;
        --ytd-rich-grid-items-per-row: 3;

    }
}

@media screen and (max-width: 1000px) {
    :root {
        --header-height: 3rem;
        --ytd-rich-grid-items-per-row: 2;

    }
}

@media screen and (max-width: 480px) {
    :root {
        --header-height: 3rem;
        --ytd-rich-grid-items-per-row: 1;

    }
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(171, 171, 171);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(171, 171, 171, 0.5);
}

.hide-scrollbar::-webkit-scrollbar {
    display: none !important;
    width: 0px !important;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body {
    overflow: hidden;
    background-color: var(--background);
    margin: 0;
    padding: 0;


}

.toast-container{
    font-family: "Geist",sans-serif;
    font-weight: normal;
    background-color: transparent;
    min-width: 400px;
}

.header {
    display: flexbox;
}

.iconBtn {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0;
    outline: 0;
    border-radius: 50%;
}


.iconBtn:not(.hidden) {
    display: flex;
}

.iconBtn:hover {
    background-color: var(--hover-color);
}



svg {
    width: 24px;
    height: 24px;
    fill: var(--svgColor);
}

.svg-icon {
    pointer-events: none;
    display: inherit;

}

.logo {
    width: 90px;
    height: 20px;

}

.logo svg {
    display: block;
    width: 100%;
    height: 100%;

}

.navContainer {
    transform: translate3d(-100%, 0, 0);
    transition: transform 0.3s, width 0.3s;

}

.navContainer.opened {
    width: var(--navwidth);
    transform: translate3d(0, 0, 0);
}

.overlay {
    z-index: 30;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity 0.2s;
    opacity: 0;
    visibility: hidden;
}

.overlay.opened {
    visibility: visible;
    opacity: 1;
}

@media screen and (min-width: 800px) {
    .overlay.opened {
        display: none;
    }

}

@media screen and (max-width: 580px) {
    .iconBtn:hover {
        background-color: transparent;
    }

    ::-webkit-scrollbar {
        width: 0px;
    }
    .toast-container{
        min-width: 0;
        left: 0;
        right: 0;
        
    }
}


#auto_suggest.opened {
    display: block;
}

#left-slide-arrow:after {
    content: "";
    height: var(--header-height);
    background: linear-gradient(to right, var(--background) 20%, rgba(33, 33, 33, 0) 80%);
    width: 50px;
    pointer-events: none;
}

#right-slide-arrow::before {
    content: "";
    height: var(--header-height);
    background: linear-gradient(to left, var(--background) 20%, rgba(33, 33, 33, 0) 80%);
    width: 50px;
    pointer-events: none;
}